.productDetailUserReview {
  border-bottom: 2px rgba(162, 162, 162, 0.785) solid;
  width: 100%;
  margin-bottom: 2.5rem;
}
.productDetailUserReview p {
  margin-bottom: 2.5rem;
}
.productDetailUserReview h6 {
  font-size: 20px;
  margin-bottom: 4px;
}

.addReviewHeader {
  font-size: 26px;
  margin-bottom: 4px;
  font-weight: 700;
}
.editButtonForReview {
  width: 10rem;
  height: 3rem;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 100px;
  margin: 1rem;
}
