
.BagContent {
  max-width: 800px;
  padding: 20px;
}

.BagContent p {
  font-size: 18px;
  color: #555;
}

.BagList {
  list-style: none;
}

.BagContent img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px; 
}

.RemoveButton:hover ,.FavouriteButton:hover {
  background-color: rgb(245, 229, 229);
}
.quantity-controls{
  border: 1px solid black;
  margin-top: 15px;
  text-align: center;
  width: 130px;
  font-weight: bold;
  font-size: 23px;
}


@media (max-width: 767px) {
  .BagContent img {
    max-width: 25%; 
    max-height: 120px;
    margin-bottom: 0; 
    margin-top: -40px;
  }

  .BagList li {
    max-width: 100vw;
  }
  .BagHeader{
    margin-top: 0px;
  }
  .quantity-controls {
    margin-top: 15px; 
    padding: 0px;
    font-size: 16px;
    max-width: 100px;
  }
  .divsContent{
    flex-direction: column;

  }
  .clickButtons{
    display: flex;
    margin-left: 0px;
  }
  .FavouriteButton{
    display: none;
  }
  
}



@media (min-width: 1200px) {


  .menuButton{
    display: none;
  }
}









